html
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  head
    title= title
  body
    <div style="overflow-y: scroll; height:400px;">
      table
        tr
          th packetsToServer
            for m in messagesToServer
              tr
              th= m
    <div style="overflow-y: scroll; height:400px; position: absolute; bottom: 10px;">
      table
        tr
          th packetsToClient
            for m in messagesToClient
              tr
              th= m
  script
    //include ./autoRefresh.js